@import "../../../assets/scss/utils/colors.scss";
@import "../../../assets/scss/utils/mixins.scss";

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;

  .logo {
    display: flex;
    align-items: center;
    font-family: "Khand", sans-serif;
    font-size: 16px;
    margin: 24px auto 24px 86px;
    z-index: 3;

    @include mobile {
      margin: 18px;
    }

    a {
      text-decoration: none;
      color: black;

      img {
        margin-right: 12px;
        @include mobile {
          margin-right: 5px;
        }
      }
    }
  }

  .links {
    margin: 24px 86px 24px auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 14px;
    z-index: 3;

    @include mobile {
      margin: 18px;
      font-size: 12px;
    }

    .shopping-cart {
      a {
        text-decoration: none;
        color: black;

        .snipcart-summary {
          display: flex;
          align-items: flex-end;

          span {
            margin: 0 0 0 8px;

            @include mobile {
              margin: 0 0 0 6px;
            }
          }
        }
      }
    }
  }
}
