@import "../../../assets/scss/utils/mixins.scss";
@import "../../../assets/scss/utils/colors.scss";

.foo {
  width: 100%;
  height: 100%;

  @include mobile {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "image"
      "product-info";
  }

  i {
    background: white;
    border-radius: 20px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    height: 100%;
    width: 100%;
    transform: translate(-50%, 0%) scale(1, 1.5);
    position: fixed;
    z-index: 1;
    grid-area: image;

    @include mobile {
      height: 40%;
      transform: translate(0%, -70%) scale(1.5, 2);
      top: 65px;
    }

    img {
      display: block;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 50%;
      right: 0;
      position: absolute;
      transform: rotateX(45deg);
      width: 400px;
      max-width: 30%;

      @include mobile {
        left: 0;
        top: 50%;
      }
    }
  }
}

.product {
  background: $color-yellow-main;
  height: 100%;
  width: 100%;
  grid-area: product-info;

  &-info {
    width: 50%;
    margin: auto 0 auto 50%;
    font-family: "Montserrat", sans-serif;
    top: 25%;
    position: relative;
    padding: 0 100px;

    @include mobile {
      width: 80%;
      margin: auto 32px;
      // top: 50%;
      padding: 0;
      // position: unset;
    }

    &-cheese-type {
      font-weight: 300;
      font-size: 13px;
      line-height: 16px;
    }

    &-name {
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      width: 290px;

      @include mobile {
        width: unset;
      }
    }

    &-description {
      margin-top: 18px;
      font-size: 13px;
      line-height: 16px;
      width: 270px;
      max-width: 100%;
      font-weight: 300;

      @include mobile {
        width: unset;
      }
    }

    &-strength {
      margin-top: 12px;
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;

      @include mobile {
      }
    }

    &-price {
      margin-top: 30px;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;

      @include mobile {
      }
      span {
        font-size: 14px;
        line-height: 17px;

        @include mobile {
        }
      }
    }

    &-quantity {
      margin-top: 30px;

      @include mobile {
        margin-top: 16px;
      }
      button {
        font-size: 18px;
        width: 28px;
        left: 713px;
        top: 428px;
        box-shadow: 0px 6.23923px 23.3971px #ddce9b;
        border-radius: 6px;
        border: none;
        outline: none;
        cursor: pointer;
        background: white;

        @include mobile {
          width: 24px;
        }
      }
      span {
        margin: 0 12px;

        @include mobile {
        }
      }
    }

    &-buttons {
      margin-top: 60px;
      display: flex;
      align-items: center;

      @include mobile {
        margin-top: 16px;
      }

      &-add {
        background: #000000;
        color: #ffffff;
        margin-right: 12px;

        @include mobile {
        }
      }

      button {
        box-shadow: 0px 6.23923px 23.3971px #ddce9b;
        border-radius: 16px;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        border: none;
        outline: none;
        cursor: pointer;
        width: 128px;
        height: 46px;

        @include mobile {
          height: 41px;
        }
      }
    }
  }
}

.back-button {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 13px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: fit-content;
  z-index: 1;
  position: absolute;
  top: 77px;
  left: 86px;

  @include mobile {
    font-size: 9px;
    line-height: 11px;
    left: 18px;
  }

  img {
    width: 23.33px;
    height: 15px;

    @include mobile {
      width: 15px;
      height: 9.64px;
    }
  }
  a {
    color: black;
    text-decoration: none;
  }
}
