@import "../../../assets/scss/utils/mixins.scss";

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 0.872396px 3.48958px rgba(0, 0, 0, 0.25);

  &-item {
    display: flex;
    justify-content: center;
    padding: 12px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;

    @include mobile {
      font-size: 8px;
      padding: 9px 0;
    }

    a {
      text-decoration: none;
      text-transform: uppercase;
      color: black;
    }

    a.disabled {
      pointer-events: none;
      cursor: default;
    }

    .selected {
      font-weight: 700;
    }
  }
}
