<header>
  <div class="logo">
    <a [routerLink]="['/home']">
      <img src="../assets/images/logo.svg" />
      Cheese Cravings
    </a>
  </div>
  <div class="links">
    <div class="search-bar">
      <img src="../assets/images/search.svg" />
    </div>
    <div class="shopping-cart">
      <a href="#" class="snipcart-checkout" style="text-decoration: none;">
        <div class="snipcart-summary">
          <img src="../assets/images/cart.svg" />
          (<span class="snipcart-total-items"></span>)
        </div>
      </a>
    </div>
  </div>
</header>

<router-outlet></router-outlet>
