<div class="category">
  <div class="category-toolbar">
    <div class="category-toolbar-item">
      Blue cheese
    </div>
    <div class="category-toolbar-item">
      Soft cheese
    </div>
    <div class="category-toolbar-item">
      Hard cheese
    </div>
  </div>
  <div class="category-breadcrumbs">
    <div class="category-breadcrumbs-path">Home / Categories / Blue Cheese</div>
    <div class="category-breadcrumbs-sortby">
      <div class="category-breadcrumbs-sortby-wrap">
        <label>Sort by:</label>
        <select name="color" style="width: 100%;">
          <option value="yellow">Yellow</option>
          <option value="red">Red</option>
          <option value="green">Green</option>
        </select>
      </div>
    </div>
  </div>

  <div class="category-content">
    <div class="category-content-filters">
      <div class="category-content-filters-title">
        Blue cheese.
      </div>
      <div class="category-content-filters-list">
        <div class="category-content-filters-list-title">Types</div>
        <ul>
          <li>
            Gorgonzola
          </li>
          <li>
            Roquefort
          </li>
          <li>
            Danish Blue
          </li>
          <li>
            Shropshire Blue
          </li>
          <li>
            Dragon's Breath Blue
          </li>
          <li>
            Bleu du Vercors-Sassenage
          </li>
        </ul>
      </div>
    </div>
    <div class="category-content-products">
      <div *ngIf="!loading; else loadingBlock">
        <div class="row">
          <div *ngFor="let product of productsInCateogory">
            <div class="col">
              <div class="product">
                <div
                  class="product-image"
                  [ngStyle]="{
                    'background-image':
                      'url(' + product.fields.image.fields.file.url + ')'
                  }"
                ></div>
                <div>
                  <div class="product-title">
                    {{ product.fields.name }}
                  </div>
                  <div class="product-price">
                    {{ product.fields.price }}
                    {{ product.fields.currency }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ng-template #loadingBlock>
        <div class="catalog catalog--loading">
          <span class="catalog__loading">
            Loading products...
          </span>
        </div>
      </ng-template>
    </div>
  </div>
</div>
