<div class="category">
  <div class="category-toolbar">
    <div class="category-toolbar-item">
      Blue cheese
    </div>
    <div class="category-toolbar-item">
      Soft cheese
    </div>
    <div class="category-toolbar-item">
      Hard cheese
    </div>
  </div>
  <div class="category-breadcrumbs">
    <div class="category-breadcrumbs-path">Home / Categories / Blue Cheese</div>
    <div class="category-breadcrumbs-sortby">
      <div class="category-breadcrumbs-sortby-wrap">
        <label>Sort by:</label>
        <select name="color" style="width: 100%;">
          <option value="yellow">Yellow</option>
          <option value="red">Red</option>
          <option value="green">Green</option>
        </select>
      </div>
    </div>
  </div>
  <div class="category-content">
    <div>
      FILTERS
    </div>

    <div>
      PRODUCTS
    </div>
  </div>
</div>
