@import "../../../assets/scss/utils/mixins.scss";
@import "../../../assets/scss/utils/colors.scss";

.category {
  font-family: "Lato", sans-serif;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  position: absolute;
  top: 77px;

  @include mobile {
    top: 65px;
  }

  &-content {
    display: flex;
    height: 100%;

    @include mobile {
      display: block;
    }

    &-filters {
      width: 260px;

      @include mobile {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      &-category {
        &-name {
          font-family: "Montserrat", sans-serif;
          font-weight: bold;
          font-size: 18px;
          line-height: 22px;
          margin: 6px 24px 0;

          @include mobile {
            font-size: 11px;
            line-height: 13px;
          }
        }

        &-filters {
          display: none;

          button {
            box-shadow: 0px 3.59074px 3.59074px rgba(0, 0, 0, 0.25);
            border-radius: 5.38611px;
            border: none;
            font-family: "Lato", sans-serif;
            font-weight: 500;
            font-size: 8px;
            line-height: 10px;
            text-transform: uppercase;
            padding: 4px 12px 4px 16px;
            display: flex;
            outline: none;
            cursor: pointer;
            background-color: Transparent;

            img {
              width: 11px;
            }
          }
          @include mobile {
            display: block;
            margin: 6px 24px 0;
          }
        }
      }

      &-title {
        display: flex;
        align-items: center;
        margin: 16px 24px 0;
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        font-weight: 400;
        img {
          width: 18px;
          margin-left: 6px;
        }

        @include mobile {
          display: none;
        }
      }

      &-filter {
        margin: 32px auto 16px 24px;

        @include mobile {
          display: none;
        }
        &-title {
          font-family: "Montserrat", sans-serif;
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
          margin-bottom: 16px;
          text-decoration: underline;
        }
      }

      &-list {
        ul {
          padding-inline-start: 16px;

          li {
            font-family: "Lato", sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 11px;
            line-height: 13px;
            margin-bottom: 12px;
            list-style-type: none;
            cursor: pointer;

            .selectedFilter {
              font-weight: 500;
              color: $color-yellow-darker;
            }
          }
        }
      }

      &-price-slider {
        width: 150px;
      }
    }

    &-products {
      width: 100%;
      margin: 16px;

      @include mobile {
        margin: 0;
      }

      .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;

        @include smallerThanDesktop {
          margin-top: 30px;
          display: block;
        }

        .col {
          padding: 16px;

          .product {
            width: 240px;
            height: 180px;
            font-family: "Montserrat", sans-serif;
            text-align: center;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
            border-radius: 6px;
            cursor: pointer;

            @include smallerThanDesktop {
              margin: auto;
              width: 90%;
              height: fit-content;
            }

            &.disabled {
              pointer-events: none;
              cursor: default;
            }

            &-image {
              position: relative;
              width: 100%;
              height: 140px;
              background-position: 50% 50%;
              background-repeat: no-repeat;
              background-size: cover;
              margin-bottom: 3px;

              @include smallerThanDesktop {
                height: 250px;
                width: 300px;
                margin: auto;
                max-width: 100%;
              }
            }

            &-title {
              font-size: 11px;
              @include smallerThanDesktop {
                margin: 8px 0;
                font-size: 14px;
              }
            }

            &-price {
              font-size: 14px;
              font-weight: 600;

              @include smallerThanDesktop {
                margin: 8px 0;
              }
            }
          }
        }
      }
    }
    &-bottom-filters {
      display: block;
      position: fixed;
      width: 100%;
      height: 0;
      bottom: 0;
      background: white;
      transition: 0.5s;
      border-radius: 10px 10px 0 0;
      z-index: 3;

      @include mobile {
        max-height: fit-content;
      }

      &-close {
        display: flex;
        margin: 0 0 0 auto;
        width: fit-content;
        font-size: 24px;
        line-height: 18px;
        padding: 16px 16px 0;

        a {
          text-decoration: none;
          color: black;
        }
      }

      &-title {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-decoration-line: underline;
        margin: 16px auto 0;
        width: fit-content;
      }

      &-filter {
        &-title {
          font-weight: 500;
          font-family: "Lato", sans-serif;
          font-size: 16px;
          line-height: 21px;
          text-decoration-line: underline;
          margin: 32px auto 0 46px;
          width: fit-content;
        }

        &-sortby {
          margin: 18px 60px;

          label {
            font-family: "Lato", sans-serif;
            width: 80px;
            font-size: 10px;
            text-transform: uppercase;
          }
          select {
            background: #ffffff;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 6px;
            height: 32px;
            font-weight: 300;
            font-size: 13px;
            line-height: 21px;
            outline: none;
            border: 0;
            text-indent: 6px;
            width: 150px;

            option {
              padding: 6px 12px;
            }
          }
        }

        ul {
          padding-inline-start: 60px;
          margin: 18px 0;

          li {
            font-family: "Lato", sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 16.1271px;
            line-height: 19px;
            margin-bottom: 12px;
            list-style-type: none;
            cursor: pointer;

            .selectedFilter {
              font-weight: 500;
              color: $color-yellow-darker;
            }
          }
        }
      }
    }
  }
}

// Slider overrides
::ng-deep {
  .category-content-filters-price-slider
    .ng5-slider.animate
    .ng5-slider-pointer {
    outline: none;
  }
  .category-content-filters-price-slider .ng5-slider .ng5-slider-bar {
    height: 2px;
  }

  .category-content-filters-price-slider .ng5-slider .ng5-slider-pointer {
    width: 12px;
    height: 12px;
    transform: translateY(70%);
  }

  .category-content-filters-price-slider .ng5-slider .ng5-slider-pointer:after {
    display: none;
  }

  .category-content-filters-price-slider .ng5-slider .ng5-slider-bubble {
    font-size: 8px;
  }
}

.backdrop {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}
