.category {
  &-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 0.872396px 3.48958px rgba(0, 0, 0, 0.25);

    &-item {
      display: flex;
      justify-content: center;
      padding: 12px;
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
    }
  }

  &-breadcrumbs {
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 11px;

    &-path {
      margin: 16px auto 16px 24px;
    }
    &-sortby {
      margin: 16px 24px 16px auto;

      &-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 120px;

        label {
          font-family: "Lato", sans-serif;
          width: 80px;
          font-size: 10px;
          text-transform: uppercase;
        }
      }

      select {
        background-color: #ebebeb;
        border: 0px;

        option {
          padding: 6px 12px;
        }
      }
    }
  }
}
