<div class="home">
  <div class="home-intro">
    <div class="home-intro-text">
      <div class="home-intro-text-title">Rediscover Cheese.</div>
      <div class="home-intro-text-description">
        An exclusive collection of handcrafted cheese for the hardcore cheese
        enthusiasts.
      </div>
      <button class="home-intro-text-button">
        Explore
      </button>
    </div>
    <div class="home-intro-image">
      <img src="../assets/images/cheese-platter.png" />
    </div>
  </div>

  <div class="home-categories">
    <div class="home-categories-title">
      Categories
    </div>
    <div class="home-categories-row">
      <a
        class="home-categories-row-category"
        [routerLink]="['/category/blue-cheese']"
      >
        <img src="../assets/images/blue-cheese.png" />
        <div class="home-categories-row-category-title">
          Blue cheese
        </div>
      </a>
      <a
        class="home-categories-row-category"
        [routerLink]="['/category/soft-cheese']"
      >
        <img src="../assets/images/soft-cheese.png" />
        <div class="home-categories-row-category-title">
          Soft cheese
        </div>
      </a>
      <a
        class="home-categories-row-category"
        [routerLink]="['/category/hard-cheese']"
      >
        <img src="../assets/images/hard-cheese.png" />
        <div class="home-categories-row-category-title">
          Hard cheese
        </div>
      </a>
    </div>
  </div>
</div>
