<div class="home">
  <div class="home-intro">
    <div class="home-intro-text">
      <div class="home-intro-text-title">Rediscover Cheese.</div>
      <div class="home-intro-text-description">
        An exclusive collection of handcrafted cheese for the hardcore cheese
        enthusiasts.
      </div>
      <button class="home-intro-text-button">
        Explore
      </button>
    </div>
    <div class="home-intro-image">
      <img src="../assets/images/cheese-platter.png" />
    </div>
  </div>

  <div class="home-categories">
    <!-- <div class="home-categories-title">
      Categories
    </div>-->
    <div class="home-categories-category">
      <img src="../assets/images/blue-cheese.png" />
      <div class="home-categories-category-title">
        Blue cheese
      </div>
    </div>
    <div class="home-categories-category">
      <img src="../assets/images/soft-cheese.png" />
      <div class="home-categories-category-title">
        Soft cheese
      </div>
    </div>
    <div class="home-categories-category">
      <img src="../assets/images/hard-cheese.png" />
      <div class="home-categories-category-title">
        Hard cheese
      </div>
    </div>
  </div>
</div>
