@import "../../../assets/scss/utils/mixins.scss";
@import "../../../assets/scss/utils/colors.scss";

.home {
  min-height: -webkit-fill-available;
  font-family: "Montserrat", sans-serif;
  background: $color-yellow-main;
  background-image: url("../../../assets/images/home-background.svg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 50%;

  @include mobile {
    // height: -webkit-fill-available;
    background-position: 300% 70%;
    background-size: 90%;
  }

  &-intro {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0 auto;
    width: 1200px;
    max-width: 100%;
    padding-top: 130px;

    @include mobile {
      display: block;
      width: unset;
      text-align: center;
      padding-top: 80px;
    }

    &-text {
      margin: 0 0 0 86px;

      @include mobile {
        margin: auto;
        text-align: center;
      }

      &-title {
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 44px;
        width: 208px;
        max-width: 100%;

        @include mobile {
          margin: auto;
          font-size: 24px;
          line-height: 29px;
          width: 160px;
        }
      }

      &-description {
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.06em;
        width: 425px;
        margin: 28px 0 0;
        max-width: 100%;

        @include mobile {
          margin: 18px auto 0;
          font-size: 14px;
          line-height: 20px;
          width: 270px;
        }
      }

      &-button {
        margin-top: 50px;
        box-shadow: 0px 6.23923px 23.3971px #ddce9b;
        border-radius: 28px;
        font-weight: 600;
        font-size: 15px;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        border: none;
        outline: none;
        cursor: pointer;
        background: #000000;
        color: #ffffff;
        width: 169px;
        height: 48px;

        @include mobile {
          width: 128px;
          height: 34px;
          font-size: 11px;
          line-height: 13px;
        }
      }
    }

    &-image {
      display: block;
      margin: 0 80px 0 auto;

      @include mobile {
        margin: 0;
        padding: 24px;
      }

      img {
        width: 470px;
        max-width: 100%;

        @include mobile {
          width: 242px;
        }
      }
    }
  }

  &-categories {
    display: flex;
    width: fit-content;
    max-width: 100%;
    align-items: center;
    margin: 160px auto 0;

    @include mobile {
      margin: 50px auto 0;
    }

    &-title {
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      color: #000000;
      transform: translate(-60%, 0%) rotate(-90deg);
      width: fit-content;
      max-width: 100%;
      position: absolute;

      @include mobile {
        font-size: 18px;
        line-height: 22px;
        transform: translate(-80%, 0%) rotate(-90deg);
      }
    }

    &-row {
      display: flex;
      justify-content: center;
      max-width: 100%;
      margin: 0 24px;

      @include mobile {
        display: block;
        margin: 0;
      }

      &-category {
        width: 250px;
        max-width: 100%;
        height: 130px;
        left: 212px;
        top: 548px;
        margin-right: 50px;
        background: #ffffff;
        box-shadow: 0px 8px 30px #ddce9b;
        border-radius: 24px;
        display: grid;
        grid-template-rows: 95px 30px;
        text-decoration: none;
        color: black;

        @include mobile {
          margin-right: 0;
          margin-bottom: 36px;
          width: 146px;
          height: 80px;
          grid-template-rows: unset;
        }

        &:last-child {
          margin-right: 0;
        }

        img {
          width: 150px;
          max-width: 100%;
          transform: translateY(-25%);

          @include mobile {
            width: 90px;
          }
        }

        &-title {
          width: fit-content;

          @include mobile {
            margin: 60px auto 0;

            font-size: 11px;
            line-height: 12px;
          }
        }

        img,
        &-title {
          margin-left: auto;
          margin-right: auto;
          display: block;

          @include mobile {
            position: absolute;
            left: 0;
            right: 0;
          }
        }
      }
    }
  }
}
